

<!-- MAIN CONTENT -->
<div class="main-content">
	<div class="fluid-container">
		<!-- Projects -->
		<div class="content-wrapper">
			<div class="page-section" id="projects">

				<div class="row">
					<div class="tabs-content">

						<aside id="sidebar" class="sidebar c-4-12 sidebar-left"
							role="complementary" itemscope=""
							itemtype="http://schema.org/WPSideBar">
							<div id="mts_featured_author_box_widget-2"
								class="widget widget_mts_featured_author_box_widget">
								<div class="mts-author-box">
									<div class="mts-author-box-top">
										<div class="mts-profile-avatar">
											<img alt=""
												src="https://secure.gravatar.com/avatar/7d5f7e6048d42994b7feac9e083117d4?s=90&amp;d=mm&amp;r=g"
												srcset="https://secure.gravatar.com/avatar/7d5f7e6048d42994b7feac9e083117d4?s=180&amp;d=mm&amp;r=g 2x"
												class="avatar avatar-90 photo" height="90" width="90">
										</div>
										<div class="mts-profile-links">
											<strong>MyThemeShop</strong><span>Chicago, Illinois</span>
										</div>
									</div>
									<div class="mts-author-box-bottom">
										<a
											href="https://demo.mythemeshop.com/socialme/author/mythemeshop/"
											class="mts-author-box-full"><strong>18</strong><span><i
												class="fa fa-file-text"></i>Posts</span></a>
									</div>
								</div>
							</div>
							<div id="categories-2" class="widget widget_categories">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li class="cat-item cat-item-2"><a
										href="https://demo.mythemeshop.com/socialme/category/funny/">Funny</a>
									</li>
									<li class="cat-item cat-item-3 current-cat"><a
										href="https://demo.mythemeshop.com/socialme/category/life/">Life</a>
									</li>
									<li class="cat-item cat-item-4"><a
										href="https://demo.mythemeshop.com/socialme/category/other/">Other</a>
									</li>
									<li class="cat-item cat-item-5"><a
										href="https://demo.mythemeshop.com/socialme/category/stories/">Stories</a>
									</li>
									<li class="cat-item cat-item-6"><a
										href="https://demo.mythemeshop.com/socialme/category/videos/">Videos</a>
									</li>
								</ul>
							</div>
							<div id="social-profile-icons-2"
								class="widget social-profile-icons">
								<div class="social-profile-icons">
									<ul class="">
										<li class="social-facebook"><a title="Facebook" href="#"><i
												class="fa fa-facebook"></i></a></li>
										<li class="social-gplus"><a title="Google+" href="#"><i
												class="fa fa-google-plus"></i></a></li>
										<li class="social-pinterest"><a title="Pinterest"
											href="#"><i class="fa fa-pinterest"></i></a></li>
										<li class="social-instagram"><a title="Instagram"
											href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-twitter"><a title="Twitter" href="#"><i
												class="fa fa-twitter"></i></a></li>
										<li class="social-youtube"><a title="YouTube" href="#"><i
												class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
							<div id="mts_ad_300_widget-2" class="widget mts_ad_300_widget">
								<div class="ad-300">
									<a href="http://mythemeshop.com/themes/socialme/"><img
										src="https://demo.mythemeshop.com/socialme/files/2016/02/ad-300x250.png"
										alt=""></a>
								</div>
							</div>
						</aside>

						<!-- main content -->

						<div class="row projects-holder mainArticle">
						<p style="font-size: 20px;">Select the Categories for your news feed. You will get
						feeds from the selected categories only</p>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="Appliances and Electronics"> <img
										src="img/Appliances and Electronics.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox1" /> <label
												for="checkbox1"></label>
										</div>

										<p class="labelImage">Appliances and Electronics</p>
									</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="Beauty and Personal Care"> <img
										src="img/Beauty and Personal Care.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox2" /> <label
												for="checkbox2"></label>
										</div>
										<p class="labelImage">Beauty and Personal Care</p>
									</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="Fashion and Accessories"> <img
										src="img/Fashion and Accessories.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox3" /> <label
												for="checkbox3"></label>
										</div>
										<p class="labelImage">Fashion and Accessories</p>
									</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="Mobiles, Laptops and Accesories"> <img
										src="img/Mobiles, Laptops and Accesories.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox4" /> <label
												for="checkbox4"></label>
										</div>
										<p class="labelImage">Mobiles, Laptops and Accesories</p>
									</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="New and Innovative Products"> <img
										src="img/New and Innovative Products.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox5" /> <label
												for="checkbox5"></label>
										</div>
										<p class="labelImage">New and Innovative Products</p>
									</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="project-item">
									<label title="Sports and Fitness"> <img
										src="img/Sports and Fitness.jpg" alt=""> <!-- class="roundImage" for round images -->
										<div class="round">
											<input type="checkbox" class="checkbox" id="checkbox6" /> <label
												for="checkbox6"></label>
										</div>
										<p class="labelImage">Sports and Fitness</p>
									</label>
								</div>
							</div>

						</div>
						<!-- .projects-holder -->
						<!-- ------------------------------------- -->
						<aside id="sidebar" class="sidebar c-4-12 mts-sidebar-sidebar"
							role="complementary" itemscope=""
							itemtype="http://schema.org/WPSideBar">
							<div id="mts_users_count_widget-4"
								class="widget widget_mts_users_count_widget">
								<i class="fa fa-globe"></i><strong>339,428</strong><span>Revmeup
									Users</span>
							</div>
							<div id="mts_popular_posts_widget-2"
								class="widget widget_mts_popular_posts_widget horizontal-small">
								<h3 class="widget-title">Popular Posts</h3>
								<ul class="popular-posts">
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
													title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2015/04/pencil-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
															title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil.">These
															Incredible Portraits Weren’t Captured&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
													title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">
													<div class="post-format-icons">
														<i class="fa fa-video-camera"></i>
													</div> <img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2015/04/food-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
															title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">These
															Pixelated Portraits Are Created&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
													title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/city-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
															title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">The
															Ghosts of Chernobyl Live&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/this-flock-of-sheep-is-very-real-even-though-it-looks-like-a-hallucination/"
													title="This Flock Of Sheep Is Very Real, Even Though It Looks Like A Hallucination.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/mobile-in-hand-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/this-flock-of-sheep-is-very-real-even-though-it-looks-like-a-hallucination/"
															title="This Flock Of Sheep Is Very Real, Even Though It Looks Like A Hallucination.">This
															Flock Of Sheep Is&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
													title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies… WOW.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title=""
													srcset="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg 65w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-300x225.jpg 300w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-768x576.jpg 768w, https://demo.mythemeshop.com/socialme/files/2014/03/phone.jpg 1000w"
													sizes="(max-width: 65px) 100vw, 65px">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
															title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies… WOW.">These
															20 Redesigned Movie Posters&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
								</ul>
							</div>
						</aside>

					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>

