<div class="main-content">
<div style="margin: auto; display: table;">
	<br>
	<form method="post"
		action="https://www.100forms.com/s/b1fb7f47-8299-4a59-8c6b-2bba281ee931"
		onsubmit="return validateForm();">
		<div style="width: 400px;"></div>
		<div style="padding-bottom: 20px; font-size: 24px;">Product
			Review</div>
		<div style="padding-bottom: 20px;">
			Reviewer<span style="color: red;"> *</span><br> <input
				type="text" id="data_2" name="data_2" style="width: 450px;"
				class="form-control">
		</div>
		<div style="padding-bottom: 20px;">
			Review as<span style="color: red;"> *</span><br> <select
				id="data_4" name="data_4" style="width: 150px; height: 34px;"
				class="form-control" ng-model="category.type" ng-dropdown required>
				<option>Admin</option>
				<option>User</option>
			</select>
		</div>
		<div style="padding-bottom: 20px;">
			Product<br> <select id="data_3" name="data_3"
				style="width: 450px; height: 34px;" class="form-control">
				<option>Product 1</option>
				<option>Product 2</option>
				<option>Product 3</option>
				<option>Product 4</option>
				<option>Product 5</option>
			</select>
		</div>

		<div style="padding-bottom: 20px;">
			Title<span style="color: red;"> *</span><br> <input type="text"
				id="data_5" name="data_5" style="width: 450px;" class="form-control">
		</div>
		<div style="padding-bottom: 20px;" ng-hide="category.type == 'User'">
			Rate this product<span style="color: red;"> *</span><br> <select
				id="data_4" name="data_4" style="width: 150px; height: 34px;"
				class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>

		<div style="padding-bottom: 20px;">
			Review<span style="color: red;"> *</span><br>
			<textarea id="data_8" false="" name="data_8" style="width: 450px;"
				rows="9" class="form-control"></textarea>
		</div>
		<div style="padding-bottom: 20px;" ng-hide="category.type == 'User'">
			Pros<br>
			<textarea id="data_6" false="" name="data_6" style="width: 450px;"
				rows="3" class="form-control"></textarea>
		</div>
		<div style="padding-bottom: 20px;" ng-hide="category.type == 'User'">
			Cons<br>
			<textarea id="data_7" false="" name="data_7" style="width: 450px;"
				rows="3" class="form-control"></textarea>
		</div>
		<div style="padding-bottom: 20px;" ng-hide="category.type == 'User'">
			Product Image<span style="color: red;"> *</span><br> <input
				type="file" name="pic" accept="media_type" style="width: 450px;">
		</div>
		<div style="padding-bottom: 20px;" ng-hide="category.type == 'Admin'">
			Product Image<br> <input type="file" name="pic"
				accept="media_type" style="width: 450px;">
		</div>

		<div style="padding-bottom: 20px;">
			Would you recommend this product?<br> <span><input
				type="radio" id="data_9_0" name="data_9" value="Yes"> Yes</span><br>
			<span><input type="radio" id="data_9_1" name="data_9"
				value="No"> No</span><br> <span><input type="radio"
				id="data_9_2" name="data_9" value="I am not sure"> I am not
				sure</span><br>
		</div>
		<div style="padding-bottom: 20px;">
			<input name="skip_Submit" value="Submit" type="submit">
		</div>
	</form>

	<script type="text/javascript">
		function validateForm() {
			$(".has-error").removeClass("has-error");
			if (isEmpty(document.getElementById('data_2').value.trim())) {
				alert('Reviewer is required!');
				document.getElementById('data_2').parentNode.className += " has-error";
				return false;
			}
			if (isEmpty(document.getElementById('data_5').value.trim())) {
				alert('Title is required!');
				document.getElementById('data_5').parentNode.className += " has-error";
				return false;
			}
			if (isEmpty(document.getElementById('data_8').value.trim())) {
				alert('Review is required!');
				document.getElementById('data_8').parentNode.className += " has-error";
				return false;
			}
			return true;
		}
		function isEmpty(str) {
			return (str.length === 0 || !str.trim());
		}
		function validateEmail(email) {
			var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
			return isEmpty(email) || re.test(email);
		}
	</script>


</div>
</div>