<!-- MAIN CONTENT -->
<div class="main-content">
	<div class="fluid-container">
		<!-- ABOUT -->
		<div class="content-wrapper">
			<div class="page-section" id="about">
				<div class="row">
					<div class="article">
						<div id="content_box">
							<div class="featured-stories-tabs clearfix">
								<div id="tab-content" class="tabs-content">
									<div id="latest-tab-content"></div>
									<div id="popular-tab-content"></div>
									<div id="random-tab-content"></div>
								</div>
							</div>
							<!--End of Tabs section-->
						</div>
					</div>

					<!-- <div><h4 class="widget-title">Learn About Me</h4></div> -->
					<div class="tabs-content">

						<aside id="sidebar" class="sidebar c-4-12 sidebar-left"
							role="complementary" itemscope=""
							itemtype="http://schema.org/WPSideBar">
							<div id="mts_featured_author_box_widget-2"
								class="widget widget_mts_featured_author_box_widget">
								<div class="mts-author-box">
									<div class="mts-author-box-top">
										<div class="mts-profile-avatar">
											<img alt="" src="img/profile.jpg"
												srcset="https://secure.gravatar.com/avatar/7d5f7e6048d42994b7feac9e083117d4?s=180&amp;d=mm&amp;r=g 2x"
												class="avatar avatar-90 photo" height="90" width="90">
										</div>
										<div class="mts-profile-links">
											<strong>USER 2</strong><span>Delhi, India</span> 
										</div>
									</div>

								</div>
							</div>
							<div id="categories-2" class="widget widget_categories">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li class="cat-item cat-item-2"><a
										href="https://demo.mythemeshop.com/socialme/category/funny/">Funny</a>
									</li>
									<li class="cat-item cat-item-3 current-cat"><a
										href="https://demo.mythemeshop.com/socialme/category/life/">Life</a>
									</li>
									<li class="cat-item cat-item-4"><a
										href="https://demo.mythemeshop.com/socialme/category/other/">Other</a>
									</li>
									<li class="cat-item cat-item-5"><a
										href="https://demo.mythemeshop.com/socialme/category/stories/">Stories</a>
									</li>
									<li class="cat-item cat-item-6"><a
										href="https://demo.mythemeshop.com/socialme/category/videos/">Videos</a>
									</li>
								</ul>
							</div>
							<div id="social-profile-icons-2"
								class="widget social-profile-icons">
								<div class="social-profile-icons">
									<ul class="">
										<li class="social-facebook"><a title="Facebook" href="#"><i
												class="fa fa-facebook"></i></a></li>
										<li class="social-gplus"><a title="Google+" href="#"><i
												class="fa fa-google-plus"></i></a></li>
										<li class="social-pinterest"><a title="Pinterest"
											href="#"><i class="fa fa-pinterest"></i></a></li>
										<li class="social-instagram"><a title="Instagram"
											href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-twitter"><a title="Twitter" href="#"><i
												class="fa fa-twitter"></i></a></li>
										<li class="social-youtube"><a title="YouTube" href="#"><i
												class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
							<div id="mts_ad_300_widget-2" class="widget mts_ad_300_widget">
								<div class="ad-300">
									<a href="http://mythemeshop.com/themes/socialme/"><img
										src="https://demo.mythemeshop.com/socialme/files/2016/02/ad-300x250.png"
										alt=""></a>
								</div>
							</div>
						</aside>
						<div>
							<h1 class="postsby">
								<span class="profileLabel">User 2</span>
							</h1>
							<button class="followBtn">Follow<i class="fa fa-plus-circle follow"></i></button>
						</div>


						<div class="mainArticle labelTopSpace">
						<p style="font-size: larger;">Sed hendrerit. Nunc nec neque. Cum sociis natoque penatibus
							et magnis dis parturient montes, nascetur ridiculus mus. In
							auctor lobortis lacus. Etiam imperdiet imperdiet orci.</p>
							<div id="content_box">
								<div class="featured-stories-tabs clearfix">
									<ul class="tabs mts-has-3-tabs">
										<li class="tab"><a href="#latest-tab" class="profileTab">
												<strong>5 </strong> Posts
										</a></li>
										<li class="tab"><a href="#popular-tab" class="tab-link">
												<strong>115 </strong> Followers
										</a></li>
										<li class="tab"><a href="#random-tab" class="tab-link">
												<strong>270</hr></strong> Following
										</a></li>
										<!-- <li class="tab"><a href="#random-tab" class="tab-link">
												<div></br></div> Edit Profile
										</a></li> -->
									</ul>
								</div>
								<!--End of Tabs section-->
							</div>
							<div id="latest-tab-content" style="display: block;">
								<article class="latestPost excerpt">

									<div class="post-info">
										<div class="post-info-left">

											<div class="author-image">
												<img alt=""
													src="https://secure.gravatar.com/avatar/739cd013b007c9abeaf2927f796225b9?s=60&amp;d=mm&amp;r=g"
													srcset="https://secure.gravatar.com/avatar/739cd013b007c9abeaf2927f796225b9?s=120&amp;d=mm&amp;r=g 2x"
													class="avatar avatar-60 photo" height="60" width="60">
											</div>
											<div class="author-info">
												<div class="vcard">
													<a
														href="https://demo.mythemeshop.com/socialme/author/dewde/"
														class="fn">User 2</a>
												</div>
												<div class="thetime updated">
													<span>April 11, 2016</span>
												</div>
											</div>
										</div>
										<div class="thecomment">
											<a
												href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/#comments"
												itemprop="interactionCount"><i class="fa fa-comment"></i>10
												Comments</a>
										</div>
									</div>
									<header>
										<h2 class="title front-view-title">
											<a
												href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
												title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil.">You
												will not regret adding it to your collection.</a>
										</h2>
									</header>

									<a
										href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
										title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil."
										rel="nofollow" id="featured-thumbnail">
										<div class="featured-thumbnail">
											<img src="img/phone.jpg" alt="" class="wp-post-image"
												width="530" height="250">
											<div
												class="review-type-star latestPost-review-wrapper wp-review-show-total wp-review-total-25 wp-review-total-star">
												<div class="review-star">
													<div class="review-result-wrapper">
														<i class="mts-icon-star"></i> <i class="mts-icon-star"></i>
														<i class="mts-icon-star"></i> <i class="mts-icon-star"></i>
														<i class="mts-icon-star"></i>
														<div class="review-result"
															style="width: 100%; color: #FFCA00;">
															<i class="mts-icon-star"></i> <i class="mts-icon-star"></i>
															<i class="mts-icon-star"></i> <i class="mts-icon-star"></i>
															<i class="mts-icon-star"></i>
														</div>
														<!-- .review-result -->
													</div>
													<!-- .review-result-wrapper -->
												</div>
												<!-- .review-star -->
											</div>
										</div>
									</a>
									<div class="front-view-content">A beautiful phone,with a
										big beautiful display the software interface(lollipop) is very
										very smooth, turbo charging,for me is the best
										feature...charges my phone upto 40-60% in just 20-30 mins the
										camera is also really nice.... playing games and watching
										video on its Qhd display with front facing dual speakers is a
										grt experience i installed many big games,but there was no lag
										at all,thanks to the 3 gb ram i encountered a few bugs which i
										guess will be taken care of after a few updates, being a
										nexus,software updates wont be an issue (one of the main
										reason to buy this phone :) ) the build quality is
										perfect...doesn't feel that big in hand cons -being a QHD
										display,it consumes a lot of battery the mid night blue
										version is a fingerprint magnet,so need to be cleaned once or
										twice a day</div>
									<div class="post-footer">
										<div class="thecategory">
											<a
												href="https://demo.mythemeshop.com/socialme/category/life/"
												title="View all posts in Life">Life</a> <a
												href="https://demo.mythemeshop.com/socialme/category/other/"
												title="View all posts in Other">Other</a>
										</div>

										<div class="vote " data-postid="25">
											<a href="#" title="Upvote this post"><i
												class="fa fa-angle-up"></i></a>
										</div>
										<div class="mts-points">
											<span class="like-count">1388</span> <span
												class="points-text">Points</span>
										</div>
									</div>
								</article>
							</div>
							<div id="popular-tab-content" style="display: none;"></div>
							<div id="random-tab-content" style="display: none;"></div>
						</div>
						<!-- ------------------------------------- -->
						<aside id="sidebar" class="sidebar c-4-12 mts-sidebar-sidebar"
							role="complementary" itemscope=""
							itemtype="http://schema.org/WPSideBar">
							<div id="mts_users_count_widget-4"
								class="widget widget_mts_users_count_widget">
								<i class="fa fa-globe"></i><strong>339,428</strong><span>Revmeup
									Users</span>
							</div>
							<div id="mts_popular_posts_widget-2"
								class="widget widget_mts_popular_posts_widget horizontal-small">
								<h3 class="widget-title">Popular Posts</h3>
								<ul class="popular-posts">
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
													title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2015/04/pencil-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
															title="These Incredible Portraits Weren’t Captured With A Camera, But With A Pencil.">These
															Incredible Portraits Weren’t Captured&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
													title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">
													<div class="post-format-icons">
														<i class="fa fa-video-camera"></i>
													</div> <img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2015/04/food-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
															title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">These
															Pixelated Portraits Are Created&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
													title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/city-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
															title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">The
															Ghosts of Chernobyl Live&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/this-flock-of-sheep-is-very-real-even-though-it-looks-like-a-hallucination/"
													title="This Flock Of Sheep Is Very Real, Even Though It Looks Like A Hallucination.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/mobile-in-hand-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title="">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/this-flock-of-sheep-is-very-real-even-though-it-looks-like-a-hallucination/"
															title="This Flock Of Sheep Is Very Real, Even Though It Looks Like A Hallucination.">This
															Flock Of Sheep Is&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
									<li class="post-box horizontal-small horizontal-container"><div
											class="horizontal-container-inner">
											<div class="post-img">
												<a
													href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
													title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies… WOW.">
													<img width="65" height="50"
													src="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg"
													class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
													alt="" title=""
													srcset="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg 65w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-300x225.jpg 300w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-768x576.jpg 768w, https://demo.mythemeshop.com/socialme/files/2014/03/phone.jpg 1000w"
													sizes="(max-width: 65px) 100vw, 65px">
												</a>
											</div>
											<div class="post-data">
												<div class="post-data-container">
													<div class="post-title">
														<a
															href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
															title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies… WOW.">These
															20 Redesigned Movie Posters&nbsp;…</a>
													</div>
												</div>
											</div>
										</div></li>
								</ul>
							</div>
						</aside>

						<hr>
					</div>
				</div>
				<!-- #about -->
			</div>
		</div>

	</div>
</div>

