<div class="main-content">
	<div class="fluid-container">
		<!-- Profile Edit -->
		<div id="w">
			<div id="content" class="clearfix">
				<div id="userphoto">
					<img src="images/avatar.png" alt="default avatar">
				</div>
				<h1>Edit Profile</h1>

				<nav id="profiletabs">
					<ul class="clearfix">
						<li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Bio</a></li>
						<li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Activity</a></li>
						<li ng-class="{active:isSet(3)}"><a href ng-click="setTab(3)">Friends</a></li>
						<li ng-class="{active:isSet(4)}"><a href ng-click="setTab(4)">Settings</a></li>
					</ul>
				</nav>
				<div ng-show="isSet(1)">

					<p>
						Various content snippets courtesy of <a
							href="http://bluthipsum.com/">Bluth Ipsum</a>.
					</p>

					<p>Can't a guy call his mother pretty without it seeming
						strange? Amen. I think that's one of Mom's little fibs, you know,
						like I'll sacrifice anything for my children.</p>

					<p>She's always got to wedge herself in the middle of us so
						that she can control everything. Yeah. Mom's awesome. I run a
						pretty tight ship around here. With a pool table.</p>

				</div>

				<div ng-show="isSet(2)">

					<p>Most recent actions:</p>

					<p class="activity">@10:15PM - Submitted a news article</p>

					<p class="activity">@9:50PM - Submitted a news article</p>

					<p class="activity">@8:15PM - Posted a comment</p>

					<p class="activity">
						@4:30PM - Added <strong>someusername</strong> as a friend
					</p>

					<p class="activity">@12:30PM - Submitted a news article</p>

				</div>

				<div ng-show="isSet(3)">

					<p>Friends list:</p>

					<ul id="friendslist" class="clearfix">
						<li><a href="#"><img src="images/avatar.png" width="22"
								height="22"> Username</a></li>
						<li><a href="#"><img src="images/avatar.png" width="22"
								height="22"> SomeGuy123</a></li>
						<li><a href="#"><img src="images/avatar.png" width="22"
								height="22"> PurpleGiraffe</a></li>
					</ul>

				</div>

				<div ng-show="isSet(4)">

					<p>Edit your user settings:</p>

					<p class="setting">
						<span>E-mail Address <img src="images/edit.png"
							alt="*Edit*"></span> lolno@gmail.com
					</p>

					<p class="setting">
						<span>Language <img src="images/edit.png" alt="*Edit*"></span>
						English(US)
					</p>

					<p class="setting">
						<span>Profile Status <img src="images/edit.png"
							alt="*Edit*"></span> Public
					</p>

					<p class="setting">
						<span>Update Frequency <img src="images/edit.png"
							alt="*Edit*"></span> Weekly
					</p>

					<p class="setting">
						<span>Connected Accounts <img src="images/edit.png"
							alt="*Edit*"></span> None
					</p>

				</div>








			</div>
			<!-- @end #content -->
		</div>
		<!-- @end #w -->
	</div>
</div>