<div class="login">

	<div class="container-login100">
		<div class="loginDesc">
			<label>LOVE IT. SHOP IT. LIKE IT.</label>
		</div>
		<div class="wrap-login100">
			<div class="login100-form-title">
				<!-- style="background-image: url(images/bg-01.jpg);" -->
				<span class="login100-form-title-1"> RevMeUp </span>
			</div>

			<form class="login100-form validate-form">

				<div class="wrap-input100 validate-input m-b-26"
					data-validate="Username is required">
					<input type="text" name="username" placeholder="  Username"
						class="formInput"> <span
						class="glyphicon glyphicon-user" style="color:white;"></span>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18"
					data-validate="Password is required">
					<input type="password" name="pass" placeholder="  Password"
						class="formInput"> 
						<span class="glyphicon glyphicon-lock" style="color:white;"></span>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-18"
					data-validate="Password is required">
					<input type="password" name="pass" placeholder="  Confirm Password"
						class="formInput"> 
						<span class="glyphicon glyphicon-lock" style="color:white;"></span>
					<span class="focus-input100"></span>
				</div>

				<div class="flex-sb-m w-full m-30">
					<div class="container-login90-form-btn">
						<a href="#categories"><button class="login100-form-btn">
								Register</button></a>
					</div>
					<div>
						<a href="#login" class="w-full p-l-100"> Sign In </a>
					</div>
				</div>
			</form>
		</div>
	</div>

	

</div>
